body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./img/snake-fundo.PNG');
    color: rgb(244, 245, 244);
}